h1 {
    text-align: center;

    color: rgb(106, 147, 26);
    font: 300;
    font-size: small;
    font-style: oblique;
    font-weight: bold;
}
.content{
    font-style: italic;
    color: yellowgreen;

}