{% extends 'base.html' %}

{% block content %}
<h1> 자기소개(Korean.ver) 입니다.
    <div class="container">
        <div class="header">
            <h1 class="hi"> 안녕하세요 </h1>
            <p class="major"> 저는 경영정보학과 21 학번 유다현입니다.</p>
        </div>
        <div class="content">
            <p>MBTI: ESTJ</p>
            <p>생년월일 : 2001.07.31</p>
            <p>나이 : 22살</p>
            <a href="http://dgulion.co.kr/" class="club"> 동아리: 멋사 10기 </a> <br>
            <a href="https://www.instagram.com/da.hyeonii" class="sns"> 인스타그램</a>
        </div>
    </div>
</h1>
{% endblock %}