{% extends 'base.html' %}

{% block content %}
<h1> Self intoduction(English.ver) 입니다.
    <div class="container">
        <div class="header">
            <h1 class="hi"> Hi </h1>
            <p class="major"> My major is management information system.<hr> My name is yoo da hyeon. <hr>in '21</p>
        </div>
        <div class="content">
            <p>MBTI: ESTJ</p>
            <p>Birth : 2001.07.31</p>
            <p>Age : 22 years old</p>
            <a href="http://dgulion.co.kr/" class="club"> Club : Likelion 10th </a> <br>
            <a href="https://www.instagram.com/da.hyeonii" class="sns"> Instagram</a>
        </div>
    </div>
</h1>
{% endblock %}